<% if target.errors.any? %>
<div id="val_error" >
	<p style= "float:right;"> <%= link_to_function 'X', "Effect.Fade('val_error')" %></p>
		<ul>
<% target.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>	
<% end %>
</ul>
</div>
<% end %>